/* ESTILO GERAL */
.interface{
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
h3{
    font-family: "Ubuntu", serif;
    font-weight: 700;
    font-style: normal;
}
p{
    font-family: "Ubuntu", serif;
    font-weight: 500;
    font-style: normal;
}

/* CABEÇALHO */
header{
    width: 100%;
    padding: 30px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .3s;
}
header.rolagem{
    position: fixed;
    padding: 20px 4%;
    background-color:#111;
    z-index: 1;
}
header.rolagem i, header.rolagem h4, header.rolagem a{
    color: #fff;
}
header.rolagem .btn-pesquisa{
    background-color: #fff;
}
header.rolagem .img-pesquisa i,header.rolagem .btn-fechar i{
    color:#111;
}
header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    color: #111;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
}
header a:hover{
    color:rgb(215, 201, 228);
    transform: scale(1.2);
}
header ul{
    list-style-type: none;
}
header ul li{
    font-size: 15px;
    display: inline-block;
    padding-right: 10vh;
}
.logo-menu i, .logo-menu h4{
    color: #111;
} 
.logo-menu{
    font-size: 25px;
    display: flex;
    align-items: baseline;
    gap: 20px;
    margin-top: -20px;
    margin-right: 25vh;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.btn-menu a{
    color: #fff;
    font-size: 20px;
}
.btn-pesquisa{
    margin: 10px 50px;
    width: 30px;
    height: 30px;
    background-color: #111;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    border-radius: 40px;
    position: relative;
    transition: 1s;
}
.btn-pesquisa.expanção{
    width: 300px;
}
.img-pesquisa{
    min-width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.img-pesquisa i{
    font-size: 20px;
    color: #fff;
}
.box-pesquisa{
    position: absolute;
    left: 40px;
    width: calc(100% -120px);
    height: 100%;
    line-height: 30px;
}
.box-pesquisa input{
    border: 0;
    outline: 0;
    font-size: 14px;
}
.btn-fechar{
    min-width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btn-fechar i{
    font-size: 20px;
    color: #fff;
}
/* ESLITO INICIO */
section.inicio{
    padding: 30px 5%;
    margin: -8px;
}
section.inicio{
    height: 100vh;
    background-image: linear-gradient(#11111100, #111111), url(imagens/Cristo\ Redentor.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
section .text-inicio{
    color: #fff;
    align-items: center;
    justify-content: center;
}
section.inicio h3{
    padding-top: 13vh;
    font-size: 15vh;
    margin-right: 80%;
    font-family: "Ubuntu", serif;
    font-weight: 700;
    font-style: normal;
}
span{
    background: -webkit-linear-gradient(yellow, green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
section.inicio p{
    margin-top: -10vh;
    font-size: 20px;
    margin-right: 60%;
    font-family: "Ubuntu", serif;
    font-weight: 500;
    font-style: normal;
    padding-bottom: 40px;
}
/* ESTILO DESTINOS */
.destinos{
    margin: 0 -8px;
    background-color: #111;
    padding: 40px 4%;
}
.texto-destinos{
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.texto-destinos h3{
    padding-top: 40px;
    color: #fff;
    font-size: 25px;
}
.texto-destinos p{
    color: #fff;
    font-size: 15;
}

.img-destinos{
    border-radius: 40px;
    cursor: pointer;
    width: 360px;
    height: 360px;
    background-color: #24ff37;
    background-size:cover;
    background-position: 100% 0%;
    transition: 2s;
    position: relative;
    margin: 0 10px;
}
.img-destinos:hover{
    background-position: 0% 100%;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.534);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 1s;
}
.overlay:hover{
    opacity: 1;
}
/* ESTILO PAGINA CULTURA */
section.cultura{
    height: 120vh;
    position: relative;
    background: linear-gradient( #111111, #14141460), url(imagens/Brasil\ noite.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 -8px;
    padding: 40px 4%;
}
.texto-cultura{
    color: #ffffff;
}
.texto-cultura h3{
    margin-right: 50%;
    font-size: 60px;
}
.texto-cultura p{
    color: #ffffff;
    margin-top: -5vh;
    font-size: 20px;
    margin-right: 60%;
}

.lista-cultura ul li{
    color: #ffffff;
    font-size: 30px;
    padding-top: 20px;
    font-family: "Ubuntu", serif;
    font-weight: 500;
    font-style: normal;
}
.img-cultura {
    position: absolute;
    top: 20%;
    right: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding: 10px;
}

.img-cultura img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 4px;
}
/* ESTILOS DICAS */
section.dicas{
    background-color: #5e5efa77;
    padding: 20px 5%;
    margin: -8px;
}
.dicas h3{
    padding-top: 60px;
    font-size: 30px;
}
.dicas p{
    font-size: 20px;
    margin-right: 60%;
}
.dicas-box{
    color: #111;
    padding: 20px 10px;
    border: 2px solid #000000;
    margin: 30px 3%;
    border-radius: 40px;
}
.dicas-box h3{
    text-align: center;
    margin: 0 10vh;
    font-size: 20px;
}
.dicas-box p{
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
    text-align: justify;
    align-items: left;
    font-size: 15px;
    padding-right: 15vh;
}
/* ESTILO CADASTRO */
section.cadastro{
    padding: 40px 4%;
}
.cadastro h3, .cadastro p{
    text-align: center;
    align-items: center;
}
.cadastro h3{
    font-size: 35px;
}
form{
    background-color: #b6b6b6; 
    border-radius: 15px; 
    padding: 40px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}
form input{
    border: 0;
    outline: 0;
    border-radius: 10px;
    padding: 20px 15px;
}
input{
    font-family: "Ubuntu", serif;
    font-weight: 500;
    font-style: normal;
}
form .data-cadastro input{
    padding: 10px 5px;
    border-color:#000000;
}
form .btn-cadastro{
    margin-top: 20px;
    text-align: center;
}
form .btn-cadastro input{
    cursor: pointer;
    width: 130px;
    color: #fff;
    background-color: #111;
    font-size: 30px;
    transition: 1s;
}
form .btn-cadastro input:hover{
    transform: scale(1.2);
    color: #111;
    background-color: #818181
}
/* RODAPÉ */
footer{
    background-color: #111;
    margin:-8px;
    padding: 50px 4%;
    box-shadow: 0 0 20px 10px #ffffff1d;
    bottom: 300px;
}
footer .flex{
    justify-content: space-between;
}
footer .logo-footer{
    display: flex;
    align-items: baseline;
    color: #ffffff;
    font-size: 15px;
}
footer .logo-footer h4, footer .logo-footer i{
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-top: 5%;
    padding-left: 15px;
    font-size: 25px;
}
footer .line-footer{
    padding: 20px 0;
}
.borda{
    border-top: 2px solid #111;
}
.botoes-sobre button{
    width: 40px;
    height: 40px;
    border: none;
    margin: 5px 5px;
    color: #111;
    background-color: #ffffff;
    cursor:pointer;
    font-size: 25px;
    border-radius: 50%;
}
@media  screen and (max-width: 1020px) {
    /* GERAL */
    .flex{
        flex-direction: column-reverse;
    }

    /* CABEÇALHO */
    .menu-lista{
        display: none;
    }
    .btn-pesquisa{
        margin: 15px 30px;
        width: 30px;
        height: 30px;
        background-color: #111;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        border-radius: 40px;
        position: relative;
        transition: 1s;
    }
    .btn-pesquisa.expanção{
        width: 300px;
    }
    .logo-menu{
        padding:0 30%;
        margin-top: -40px;
        text-align: center;
        font-size: 30px;
    }
    /* INICIO */
    .text-inicio{
        align-items: center;
        text-align: center;
    }
    .text-inicio h3{
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .text-inicio p{
        display: none;
    }
    /* DESTINOS */
    .destinos{
        align-items: center;
        text-align: center;
    }
    .destinos p, .destinos h3{
        padding:0 10%;
        justify-content: space-around;
        padding-left: 4vh;
    }
    .img-destinos{
        margin-bottom: 20px;
    }
    /* CULTURA */
    .cultura .interface{
        margin-top: 40vh;
    }
    .texto-cultura h3 {
        font-size: 30px; 
    }

    .texto-cultura p {
        padding-top: 20px;
        font-size: 16px;
    }

    .lista-cultura ul li {
        font-size: 15px; 
    }

    .img-cultura {
        gap: 10px;
    }

    .img-cultura img {
        margin-top: 80%;
        padding-left: 50%;
        max-width: 100px;
        max-height: 100px;
    }
    /* DICAS */
    .dicas{
        align-items: center;
        text-align: center;
    }
    .dicas p{
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
    }
    .botoes-sobre{
        align-items: center;
        text-align: center;
    }
    /* CADASTRO */
    .cadastro{
        align-items: center;
        text-align: center;
    }
    .img-linktree{
        width: 43vh;
        height: 35vh;
    }
    /* RODAPÉ */
    footer .logo-footer{
        padding-left: 28%;
        display: flex;
        align-items: baseline;
        color: #ffffff;
        font-size: 15px;
    }
}